<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista de Proyectos</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="container">
        <h1>Lista de Proyectos</h1>
        <table>
            <thead>
                <tr>
                    <th>Código del Proyecto</th>
                    <th>Nombre del Proyecto</th>
                    <th>Tipo de Proyecto</th>
                    <th>Docente Asignado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% projects.forEach(project => { %>
                <tr>
                    <td><%= project.project_code %></td>
                    <td><%= project.project_name %></td>
                    <td><%= project.project_type %></td>
                    <td>
                        <% if (project.teacher_id) { %>
                        <%= project.teacher_id %>
                        <!-- para buscar el nombre del docente -->
                        <% } else { %>
                        No asignado
                        <% } %>
                    </td>
                    <td>
                        <a href="/projects/edit/<%= project.id %>">Editar</a>
                        <form action="/projects/delete/<%= project.id %>"
                            method="POST" style="display:inline;">
                            <button type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <a href="/projects/create">| Crear nuevo proyecto |</a>
        <a href="/dashboard">Regresar al panel del Admin |</a>
        <form action="/logout" method="POST" style="display:inline;">
            <a href="/logout">Cerrar Sesión |</a>
        </form>
    </div>

    </body>
</html>
